.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 8px;
  margin-top: 14px;
  width: 100%;
  max-width: 800px;
}

.title {
  font-size: xx-large;
  font-weight: bold;
}

.clientName {
  font-weight: bold;
  margin-bottom: 8px;
}

.clientAddress {
  margin-bottom: 8px;
}

.contactInfo {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.contactInfo span {
  display: flex;
  align-items: center;
}
