.footer {
  width: 100%;
  background-color: #343a40;
  color: white;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.footerContent {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rightLinks {
  display: flex;
  margin-right: 1.5rem;
}

.footerItem {
  margin-left: 20px;
}

.link {
  color: #adb5bd;
  text-decoration: none;
  transition: color 0.3s;
}

.link:hover {
  color: #f8f9fa;
}

/* FHD 이하 (1920px 이하) */
@media screen and (max-width: 1920px) {
  /* FHD 이하에서 적용될 스타일 */
  .footerContent {
    max-width: 980px;
  }
}
/* FHD 초과 (1920px 초과) */
@media screen and (min-width: 1921px) {
  /* FHD 초과에서 적용될 스타일 */
  .footerContent {
    max-width: 1200px;
  }
}
