.form {
  max-width: 600px;
  margin: 0 auto;
  padding: 2.5rem;
  border: #ffffff 1px solid;
  border-radius: 3%;
  background-color: #ffffff;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-size: x-large;
  font-weight: bold;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.label {
  width: 150px;
  text-align: left;
  margin-right: 10px;
  font-weight: bold;
  font-size: large;
  white-space: nowrap;
}

.input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: large;
  width: 100%;
  box-sizing: border-box;
  max-width: 100%;
}

.dateInput {
  flex: 1;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: large;
  width: 100%;
  box-sizing: border-box;
  max-width: 100%;
}

.button {
  display: block;
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background-color: #499eff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: large;
}

.button:hover {
  background-color: #0080ff;
}

.hover {
  cursor: pointer;
}

.error {
  color: red;
  margin: 0 auto;
  text-align: center;
}
