.footer {
  width: 100%;
  background-color: #343a40;
  color: white;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.footerContent {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rightLinks {
  display: flex;
  gap: 1.5rem;
}

.footerItem {
  margin-left: 20px;
}

.link {
  color: #adb5bd;
  text-decoration: none;
  transition: color 0.3s;
}

.link:hover {
  color: #f8f9fa;
}
