/* 전체 컨테이너 스타일 */
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 20px;
}

/* 로딩 스피너 스타일 */
.loading {
  text-align: center;
  font-size: 1.2em;
  color: #555;
}

/* 테이블 컨테이너 스타일 */
.tableContainer {
  flex: 1;
  overflow-x: auto;
}

/* 테이블 스타일 */
.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

/* 테이블 헤더 스타일 */
.table th {
  padding: 12px 0;
  background-color: #f0f0f0;
  word-wrap: break-word;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ddd;
}

/* 헤더 셀 내부 스타일 */
.headerCell {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* 정렬 화살표 스타일 */
.sortArrow {
  display: inline-block;
  width: 1em; /* 화살표 공간 확보 */
  margin-left: 5px; /* 텍스트와 화살표 사이 간격 */
  font-size: 0.8em; /* 화살표 크기 조정 */
}

/* 테이블 데이터 셀 스타일 */
.table td {
  padding: 12px;
  border: 1px solid #ddd;
  vertical-align: middle;

  /* 텍스트 넘칠 때 "..." 표시 */
  white-space: nowrap; /* 줄바꿈 방지 */
  overflow: hidden; /* 넘치는 부분 숨기기 */
  text-overflow: ellipsis; /* "..."으로 표시 */
}

/* 테이블 행 마우스 오버 효과 */
.tableRow:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}

/* 텍스트 정렬 스타일 */
.rightAlign {
  text-align: right;
}

.centerAlign {
  text-align: center;
}

.leftAlign {
  text-align: left;
}

/* 결과 없음 스타일 */
.noResult {
  text-align: center;
  padding: 20px;
  color: #888;
}

/* 페이지네이션 컨테이너 스타일 */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 10px 0;
  background-color: #f9f9f9;
}

/* 페이지네이션 버튼 스타일 */
.paginationButton {
  background-color: #0070f3;
  border: none;
  color: white;
  padding: 8px 16px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  font-size: 1em;
}

.paginationButton:hover:not(:disabled) {
  background-color: #005bb5;
}

.paginationButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* 페이지 정보 스타일 */
.pageInfo {
  margin: 0 10px;
  font-weight: bold;
  color: #333;
}

.fakeButton {
  visibility: hidden;
}

.fakeLabel {
  visibility: hidden;
}

.iconButton {
  background: none;
  border: none;
  color: #0070f3;
  font-size: 0.9em;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s ease;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.iconButton:hover {
  color: #005bb5;
}

.iconButton:active {
  color: #004494;
}

.iconButton:disabled {
  color: #ccc;
  cursor: not-allowed;
}
